// CSS reset
body {
	padding: 0px;
	margin: 0px;
	font-family: monospace;
	font-size: 14px;
}

.align-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fs-large {
	font-size: 48px;
}
.fs-32 {
	font-size: 32px;
}
.pointer {
	cursor: pointer;
}
.color-gradient {
	background: -webkit-linear-gradient(#806E01, rgb(224, 196, 37));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.color-gradient-side {
	background: -webkit-linear-gradient(rgb(4, 81, 117), rgb(224, 196, 37));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-gradient {
	background-image: linear-gradient(
		to right,
		#806E01,
		#806E01,
		rgb(224, 196, 37),
		#806E01,
	);
}